.page {
    display: flex;
    flex-direction: column;
    min-width: 640px;
    min-height: 100vh;
    margin: 0px;
    font-family: "Verdana", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    background-color: #eae9f2;
    
}

.page header{
    
    margin-bottom: 15px;
    color: #333;

}

.page header .container{

border-bottom: solid 1px;
background-color: #FFFFFF;

}
.page header h1{
    margin-left: 3%;
}
