.page {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: "Verdana", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    background-color: #eae9f2;
    
}
.header img {
    margin-top: 10px;
    width: 109px;
}
.header {
    display: grid;
    padding-left: 18%;
    padding-right: 18%;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:#ffffff;
    height: 53px;
    border-bottom: #dbdbdb solid 1px;
}
/* .header .search img {
    height: 10px;
    width: 10px;
    position: relative;
} */
.search {
    display: flex;
    justify-self: center;
    margin-top: 10px;
    /* 
    background-color:#FAFAFA ;
    border-radius: 4px;
     */
}
.search input {

    font: 14px sans-serif ;
    width: 215px;
    height: 28px;
    padding: 0px;
    border:  #dbdbdb solid 1px;
    border-radius: 4px;
    outline: none;
    text-align: center;
    background-color:#FAFAFA ;
    background-image: url('src/magnifire.png');
/*  padding-top: 2px;
    border: #dbdbdb solid 1px ;
     */
}
input[type=text]:focus {
    
    border: #dbdbdb solid 1px ;
    border-radius: 4px;
}
.button i {
    display: flex;
    align-self: center;
    font-size: 22px;
    font-weight: 22px;
    font-display: flex;
}
.mainblock {
    display: flex;
    flex-direction: row;
    background-color:#ffffff;
    border:#dbdbdb solid 0px;
    margin-left: 18%;
    height: 1600px;
    width: 64%;

}
.infobar {
    position: fixed;
    background-color:#d8d8d8;
    border:#dbdbdb solid 0px;
    height: 600px;
    width: 330px;
    right: 18%
}
.post {
    width: 65%;
    border:#dbdbdb solid 2px;
}

