body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: "Verdana", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    background-color: #FAFAFA;
}

header img {
    margin-top: 10px;
    width: 109px;
}

header {
    position: fixed;
    display: flex;
    height: 53px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: #dbdbdb solid 1px;
    justify-content: center;
}

a {
    color: #000;
    text-decoration: none;
}

.icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: right;
}

.icons-container a {
    font-size: 22px;
    padding-left: 22px;
}

.snake-case {
    display: grid;
    padding-left: 18.2%;
    padding-right: 18.2%;
    width: 975px;
    grid-template-columns: 1fr 1fr 1fr;
}

.search {
    display: flex;
    justify-self: center;
    margin-top: 13px;
}

.search input {
    font: 14px;
    width: 187px;
    height: 26px;
    border: #dbdbdb solid 1px;
    border-radius: 2px;
    padding: 0px 13px;
    outline: none;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 9px;
    background-color: #FAFAFA;
    background-image: url('src/magnifire.png');
    background-position: center left 78px;
}

input[type=text]:focus {
    text-align: left;
    background-position: center left 3px;
    border: #dbdbdb solid 1px;
}

.mainblock {
    display: flex;
    flex-direction: row;
    margin-left: 18.4%;
    height: 1600px;
    width: 64%;
}

.infobar {
    position: fixed;
    right: 250px;
    top: 84px;
    height: 600px;
    width: 330px;
    background-color: #ececec;
}

.postblock {
    width: 614px;
}

.storyblock {
    background-color: #ffffff;
    width: 613px;
    height: 116px;
    margin-top: 84px;
    border: #dbdbdb solid 1px;
    border-radius: 3px;
}

.posterblock {
    background-color: #ffffff;
    margin-top: 24px;
    width: 613px;
    height: 800px;
    max-height: 1080px;
    border: #dbdbdb solid 1px;
    border-radius: 3px;
}